.movie_cast_img {
  width: 100px;
  margin-bottom: 15px;
}

.movie_cast_general {
  margin-left: 40px;
}

.movie_cast_name {
  margin-bottom: 15px;
}
.movie_cast_general_character {
  margin-bottom: 15px;
}
